<%- include("header/header.ejs") %>

<body>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Welcome to <div id="company">theKCorp</div> Team Page</h4>
        
        
      </div>
    
    
    
      <div class="container text-center">
        <div class="row">
          <div class="col">
            
    
            <div class="card" >
              
              <div class="card-body">
                <h5 class="card-title">Kshitiz Vikram Singh</h5>
                <p class="card-text"><div id="company"><b>Consultant</b></div></p>
                <a href="#" class="btn btn-primary">Go to LinkedIn</a>
              </div>
            </div>
    
    
    
          </div>
         
          
        </div>
      </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
      <div id="footer"class="alert " role="alert">
        <h4 class="alert-heading">All rights reserved.  ©️<div id="company"> theKCorp</div><sup>TM</sup></h4>
       
        
      </div>
</body>